.text-limiter {
	margin-top: -1px;
	display: flex; /* Fix margin-top not always applied for input group (with prepend & append) */
}

.text-limiter>span {
	background-color: #f7f7f7;
	border: 1px solid #8c8f94;
	border-radius: 0 0 4px 4px;
	display: inline-block;
	padding: 0 5px;
	font-size: 12px;
}

input:has(+ .text-limiter),
textarea:has(+ .text-limiter),
.rwmb-input-group:has(+ .text-limiter) > *:first-child {
	border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
}

textarea:has(+ .text-limiter) {
	margin-bottom: -1px;
}